<%- include('partials/header') -%>
<div class="container" style="color: rgb(75, 74, 74);">
    <div class="row justify-content-center">
        <h1>Sources</h1>
    </div>
    <div class="row">
        <h6 class="helpline">We refer to these following sources for the Covid-19 data.</h6>
    </div>
    <table class="table helpline">
        <thead>
            <tr>
                <th scope="col">Sr.No.</th>
                <th scope="col">Source Name</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td><a href="https://www.mohfw.gov.in/" target="_blank">Ministry of Health and Family Welfare Government
                        of India</a>
                </td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td><a href="https://www.indiatoday.in/india/story/coronavirus-cases-in-india-covid19-states-cities-affected-1653852-2020-03-09"
                        target="_blank">Daily
                        trends by India Today</a></td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td><a href="https://infographics.channelnewsasia.com/covid-19/map.html" target="_blank">Realtime feed
                        from Channelnewsasia</a></td>
            </tr>
            <tr>
                <th scope="row">4</th>
                <td><a href="https://www.kff.org/global-health-policy/fact-sheet/coronavirus-tracker/"
                        target="_blank">COVID-19 Coronavirus Tracker from kff.org</a></td>
            </tr>
            <tr>
                <th scope="row">5</th>
                <td><a href="https://www.arcgis.com/apps/opsdashboard/index.html#/bda7594740fd40299423467b48e9ecf6"
                        target="_blank">COVID-19 Global Cases by Johns Hopkins CSSE</a>
                </td>
            </tr>
            <tr>
                <th scope="row">6</th>
                <td><a href="https://www.worldometers.info/coronavirus/" target="_blank">Worldometers Coronavirus
                        Cases</a>
                </td>
            </tr>
            <tr>
                <th scope="row">7</th>
                <td><a href="https://economictimes.indiatimes.com/topic/confirmed-cases" target="_blank"> Economictimes
                        ET</a>
                </td>
            </tr>
            <tr>
                <th scope="row">8</th>
                <td><a href="https://timesofindia.indiatimes.com/" target="_blank">Timesofindia</a></td>
            </tr>
            <tr>
                <th scope="row">9</th>
                <td><a href="https://github.com/NovelCOVID/API" target="_blank">Covid - 19 API</a>
                </td>
            </tr>
        </tbody>
    </table>
    <br>
    <br>
    <h6 class="disclaimer"><strong>Disclaimer: </strong> This is not an official Government of India website. Please refer to this sources
        page. This website
        is an endeavor to help our Citizens and for the greater cause of Humanity. This website is just displaying the
        current information about the Coronavirus outbreak. All the statistics are being collected from Government
        websites, various sources and we are verifying to the best of our abilities. The
        information contained in this website is for general information purposes only. While we endeavor to keep the
        information up to date and correct, we make no representations or warranties of any kind, express or implied,
        about the completeness, accuracy, reliability, suitability or availability concerning the website or the
        information, products, services, or related graphics contained on the website for any purpose. Any reliance you
        place on such information is therefore strictly at your own risk. Through this website, you are able to link to
        other websites also which are not under my control . I have no control over the nature, content, and
        availability of those sites. The inclusion of any links does not necessarily imply a recommendation or endorse
        the views expressed within them. Every effort is made to keep the website up and running smoothly. However,
        I take no responsibility for, and will not be liable for, the website being temporarily unavailable due
        to technical issues beyond our control. This website uses an api to retieve information, so it may take some
        time to confirmm the figures and update them accordingly. Till then be calm, stay indoors and wash your hands
        frequently and
        stay safe.</h6>
</div>
<%- include('partials/footer') -%>