<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      property="og:description"
      content="A collection of useful data visualisation of the Corona virus outbreak."
    />
    <link rel="shortcut icon" href="images/index.ico" />
    <title>Covid - 19</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="css/styles.css" />
    <div class="navigation-wrap bg-light start-header start-style">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <nav class="navbar navbar-expand-md navbar-light">
              <a href="/"
                ><div class="navbar-brand" id="brand">
                  COVID - 19
                  <span class="country"> <%= country %> </span>
                </div></a
              >

              <button
                class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation"
              >
                <span class="navbar-toggler-icon"></span>
              </button>

              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto py-4 py-md-0">
                  <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                    <a class="nav-link" href="/">Home</a>
                  </li>
                  <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                    <a class="nav-link" href="/helpline">Helpline</a>
                  </li>
                  <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                    <a class="nav-link" href="/test-centers">Test Centers</a>
                  </li>
                  <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                    <a class="nav-link" href="/affected-countries"
                      >Affected Countries</a
                    >
                  </li>
                  <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                    <a class="nav-link" href="/sources">Sources</a>
                  </li>
                  <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                    <a class="nav-link" href="#">About</a>
                  </li>
                </ul>
              </div>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </head>

  <body>
    <div class="content">
      <div class="container" style="color: rgb(75, 74, 74);">
        <div class="row justify-content-center">
          <h1 class="test-heading">Test Centres across the Country</h1>
        </div>
        <ul>
          <h3>Andhra Pradesh</h3>
          <li>Sri Venkateswara Institute of Medical Sciences in Tirupati</li>
          <li>GMC, Anantapur</li>
          <li>Siddhartha Medical College, Vijayawada</li>
          <li>Ranagaraya Medical College, Kakinada</li>
        </ul>
        <ul>
          <h3>Andaman and Nicobar</h3>
          <li>Regional Medical Research Centre, Port Blair</li>
        </ul>
        <ul>
          <h3>Assam</h3>
          <li>Gauhati Medical College, Guwahati</li>
          <li>Regional Medical Research Centre, Dibrugarh</li>
          <li>Silchar Medical College, Silchar</li>
          <li>Jorhat Medical College, Jorhat</li>
        </ul>
        <ul>
          <h3>Bihar</h3>
          <li>
            Rajendra Memorial Research Institute of Medical Sciences, Patna
          </li>
        </ul>
        <ul>
          <h3>Chandigarh</h3>
          <li>Post Graduate Institute of Medical Education & Research</li>
        </ul>
        <ul>
          <h3>Chhattisgarh</h3>
          <li>AIIMS, Raipur</li>
        </ul>
        <ul>
          <h3>Delhi</h3>
          <li>AIIMS</li>
        </ul>
        <ul>
          <h3>Gujarat</h3>
          <li>BJ Medical College, Ahmedabad</li>
          <li>M P Shah Government Medical College, Jamnagar</li>
        </ul>
        <ul>
          <h3>Haryana</h3>
          <li>
            Pt B D Sharma Post Graduate Institute of Medical Sciences, Rohtak
          </li>
          <li>BPS Government Medical College, Sonipat</li>
        </ul>
        <ul>
          <h3>Himachal Pradesh</h3>
          <li>Indira Gandhi Medical College, Shimla</li>
          <li>Dr Rajendra Prasad Government Medical College, Kangra, Tanda</li>
        </ul>
        <ul>
          <h3>Jammu-Kashmir</h3>
          <li>Sher-I-Kashmir Institute of Medical Sciences, Srinagar</li>
          <li>Government Medical College, Jammu</li>
          <li>Government Medical College, Srinagar</li>
        </ul>
        <ul>
          <h3>Jharkhand</h3>
          <li>MGM Medical College, Jamshedpur</li>
        </ul>
        <ul>
          <h3>Karnataka</h3>
          <li>Bangalore Medical College & Research Institute, Bengaluru</li>
          <li>National Institute of Virology Field Unit, Bengaluru</li>
          <li>Mysore Medical College & Research Institute, Mysore</li>
          <li>Hassan Institute of Medical Sciences, Hassan</li>
          <li>Shimoga Institute of Medical Sciences, Shivamoga</li>
        </ul>
        <ul>
          <h3>Kerala</h3>
          <li>National Institute of Virology Field, Kerala Unit</li>
          <li>Government Medical College, Thriuvananthapuram</li>
          <li>Government Medical College, Kozhikhode</li>
          <li>Government Medical College, Thrissur</li>
        </ul>
        <ul>
          <h3>Madhya Pradesh</h3>
          <li>AIIMS, Bhopal</li>
          <li>
            National Institute of Research in Tribal Health (NIRTH), Jabalpur
          </li>
        </ul>
        <ul>
          <h3>Maharashtra</h3>
          <li>Indira Gandhi Government Medical College, Nagpur</li>
          <li>Kasturba Hospital for Infectious Diseases, Mumbai</li>
          <li>NIV Mumbai Unit</li>
        </ul>
        <ul>
          <h3>Manipur</h3>
          <li>JN Institute of Medical Sciences Hospital, Imphal</li>
          <li>Regional Institute of Medical Science, Imphal</li>
        </ul>
        <ul>
          <h3>Meghalaya</h3>
          <li>
            North Eastern Indira Gandhi Institute of Health and Medical
            Sciences, Shillong
          </li>
        </ul>
        <ul>
          <h3>Odisha</h3>
          <li>Regional Medical Research Centre, Bhubaneswar</li>
        </ul>
        <ul>
          <h3>Puducherry</h3>
          <li>
            Jawaharlal Institute of Postgraduate Medical Education & Research,
            Puducherry
          </li>
        </ul>
        <ul>
          <h3>Punjab</h3>
          <li>Government Medical College, Patiala</li>
          <li>Government Medical College, Amritsar</li>
        </ul>
        <ul>
          <h3>Rajasthan</h3>
          <li>Sawai Man Singh Hospital, Jaipur</li>
          <li>Dr S N Medical College, Jodhpur</li>
          <li>Jhalawar Medical College, Jhalawar</li>
          <li>SP Medical College, Bikaner</li>
          <li>RNT Medical college, Udaipur</li>
        </ul>
        <ul>
          <h3>Tamil Nadu</h3>
          <li>King’s Institute of Preventive Medicine & Research, Chennai</li>
          <li>Government Medical College, Theni</li>
          <li>Tirunelveli Medical College, Tirunelveli</li>
          <li>Government Medical College, Thiruvarur</li>
        </ul>
        <ul>
          <h3>Telangana</h3>
          <li>Gandhi Medical College, Secunderabad</li>
          <li>Osmania Medical college, Hyderabad</li>
        </ul>
        <ul>
          <h3>Tripura</h3>
          <li>Government Medical College, Agartala</li>
        </ul>
        <ul>
          <h3>Uttar Pradesh</h3>
          <li>King George Medical University, Lucknow</li>
          <li>
            Institute of Medical Sciences, Banaras Hindu University, Varanasi
          </li>
          <li>Jawaharlal Nehru Medical College, Aligarh</li>
        </ul>
        <ul>
          <h3>Uttarakhand</h3>
          <li>Government Medical College, Haldwani</li>
        </ul>
        <ul>
          <h3>West Bengal</h3>
          <li>National Institute of Cholera and Enteric Diseases, Kolkata</li>
          <li>IPGMER, Kolkata</li>
        </ul>
        <br />
        <h6 class="source">
          Source:
          <a
            href="https://icmr.nic.in/sites/default/files/upload_documents/COVID_19_Testing_Laboratories.pdf"
            >Indian Council of Medical Research</a
          >
        </h6>
      </div>

      <%- include('partials/footer') -%>
    </div>
  </body>
</html>
